@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  font-family: 'Inter', sans-serif;
}

.serif {
  font-family: 'Merriweather', serif;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-100 dark:bg-gray-900;
  flex-direction: column;
  min-height: 100vh;
}


@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

/* ! FLASH -------------------- */
.flash {
  animation: flash 1s ease-in-out;
  animation-iteration-count: 1;
  border-radius: 0.25rem;
}

@keyframes flash {
  0% {
    background-color: inherit;
  }
  1% {
    @apply bg-purple-400 text-white;
  }
  100% {
    background-color: inherit;
  }
}

.stream-flash {
  animation: stream-flash .2s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes stream-flash {
  0% {
    background-color: inherit;
  }
  1% {
    @apply bg-blue-300 text-black dark:text-white;
    opacity: 0.5;
  }
  95% {
    @apply bg-blue-300 text-black dark:text-white;
  }
  100% {
    background-color: inherit;
    opacity: 1;
  }
}

/* ! LAYOUT ------------------------ */

.main-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}

/* .col1 {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 100%;
  max-width: 36rem;
}

.col2 {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  width: 18rem;
  gap: 2rem;
  height: 100%;
} */

@media (max-width: 1000px) {
  .col2 {
    display: none;
  }
}

.input-container, .output-container, .settings-container, .stats-container, .instructions-container, .documents-container {
  @apply bg-white dark:bg-gray-800 rounded-xl shadow-md dark:border-gray-900 dark:border-2
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.output-container {
  @apply p-6 font-merry text-black;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  line-height: 1.6;
}

.settings-container {
  @apply p-4;
  width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.stats-container {
  @apply p-4;
  width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.instructions-container {
  @apply p-4;
  width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* ! LAYOUT V2 */

.v2-col1 {
  /* leave room for focus ring on query input */
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 100%;
  width: 100%;
  max-width: 40rem;
}

.v2-col2 {
  /* leave room for focus ring on query input */
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  width: 18rem;
  gap: 1.2rem;
  height: 100%;
}

.v2-col3 {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  width: 18rem;
  gap: 1.2rem;
  height: 100%;
}

.documents-container {
  @apply p-4;
  width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* ! TEXT INPUTS */

input:focus{
  outline: none;
  box-shadow: 0 0 0 2px theme('colors.purple.500');
}

textarea {
  box-shadow: 0 0 0 2px theme('colors.gray.300');
}

textarea:focus {
  box-shadow: 0 0 0 2px theme('colors.purple.500');
}

/* ! ACCORDIAN ------------------------------------ */
/* reset */

.AccordionRoot {
    border-radius: 6px;
    width: 100%;
    @apply bg-white dark:bg-gray-800;
    /* box-shadow: 0 2px 10px var(--blackA4); */
}

.AccordionItem {
    overflow: hidden;
    margin-top: 1px;
}

.AccordionItem:first-child {
    margin-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.AccordionItem:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.AccordionItem:focus-within {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 0 2px var(--mauve12);
}

.AccordionHeader {
    display: flex;
}

.AccordionTrigger {
    font-family: inherit;
    background-color: transparent;
    padding: 0 20px;
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    line-height: 1;
    box-shadow: 0 1px 0 var(--mauve6);
    @apply bg-white dark:bg-gray-800 text-gray-600 dark:text-gray-300
}

.AccordionTrigger:hover {
  @apply bg-gray-100 dark:bg-gray-700 rounded-lg;
}

.AccordionContent {
    overflow: hidden;
    font-size: 15px;
    color: var(--mauve11);
    @apply bg-gray-100 rounded-lg dark:bg-gray-700 my-2;
}

.AccordionContent[data-state='open'] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContent[data-state='closed'] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
    padding: 15px 20px;
}

.AccordionChevron {
    color: var(--violet10);
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state='open']>.AccordionChevron {
    transform: rotate(180deg);
}

@keyframes slideDown {
    from {
        height: 0;
    }

    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }

    to {
        height: 0;
    }
}

/* ! AccordianSelectDoc ------------------------------------ */
.AccordionSelectDocRoot {
  border-radius: 6px;
  width: 100%;
  @apply bg-white dark:bg-gray-800;
  /* box-shadow: 0 2px 10px var(--blackA4); */
}

.AccordionSelectDocItem {
  overflow: hidden;
  margin-top: 1px;
}

.AccordionSelectDocItem:first-child {
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.AccordionSelectDocItem:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.AccordionSelectDocItem:focus-within {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 2px var(--mauve12);
}

.AccordionSelectDocHeader {
  display: flex;
}

.AccordionSelectDocTrigger {
  background-color: transparent;
  flex: 1;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  line-height: 1;
  box-shadow: 0 1px 0 var(--mauve6);
}

.AccordionSelectDocTrigger:hover {
@apply bg-gray-100 dark:bg-gray-700 rounded-lg;
}

.AccordionSelectDocContent {
  overflow: hidden;
  font-size: 15px;
  color: var(--mauve11);
  @apply bg-gray-100 rounded-lg dark:bg-gray-700 my-2;
}

.AccordionSelectDocContent[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionSelectDocContent[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionSelectDocContentText {
  padding: 15px 20px;
}

.AccordionSelectDocChevron {
  color: var(--violet10);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionSelectDocTrigger[data-state='open']>.AccordionSelectDocChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
      height: 0;
  }

  to {
      height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
      height: var(--radix-accordion-content-height);
  }

  to {
      height: 0;
  }
}

/* ! PROFRESS BAR --------------------------------------- */

.ProgressRoot {
  --blackA9: rgba(0, 0, 0, 0.09);
  position: relative;
  overflow: hidden;
  background: var(--blackA9);
  border-radius: 99999px;
  width: 100%;
  height: 25px;

  /* Fix overflow clipping in Safari */
  /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
}

.ProgressIndicator {
  background-color: theme('colors.purple.500');
  width: 100%;
  height: 100%;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

/* ! TOGGLE GROUP -------------------- */

/* .ToggleGroupWrapper button {
  all: unset;
} */
.ToggleGroup {
  display: inline-flex;
  @apply rounded-lg bg-gray-100 border-gray-100 border-2 dark:bg-gray-800 dark:border-gray-700;
}

.ToggleGroupItem {
  height: 35px;
  width: 120px;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  @apply font-medium bg-white text-gray-600 dark:bg-gray-900 dark:text-gray-400
}

.ToggleGroupItem:first-child {
  @apply rounded-l-[6px] ml-0
}
.ToggleGroupItem:last-child {
  @apply rounded-r-[6px] mr-0
}
.ToggleGroupItem:hover {
  @apply bg-gray-100 dark:bg-gray-700
}
.ToggleGroupItem[data-state='on'] {
  @apply bg-purple-500 text-white dark:bg-purple-700
}
.ToggleGroupItem:focus {
  position: relative;
  /* box-shadow: 0 0 0 2px black; */
}

/* !SELECT ------------------------------------ */


/* reset */
/* button {
  all: unset;
} */

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  @apply mb-4 bg-gray-50 rounded-lg p-3 text-gray-600 dark:text-gray-200 dark:bg-gray-800 dark:border-gray-600 border-gray-100 border-2
}

.SelectTrigger:hover {
  @apply bg-gray-200 dark:bg-gray-700;
}
.SelectTrigger, .SelectTrigger[data-placeholder] {
  @apply text-gray-800 dark:text-gray-200
}

.SelectTrigger[data-state='open'] {
  box-shadow: 0 0 0 2px theme('colors.purple.500');
}

.SelectIcon {
  color: theme('colors.gray.600');
}

.SelectContent {
  overflow: hidden;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  width: 100%;
  @apply rounded-xl p-1 bg-white dark:bg-gray-900 dark:border-2 dark:border-gray-700;
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  @apply rounded-lg p-3 text-purple-500 font-medium pl-6;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  width: 280px;
  height: 40px;
}
.SelectItem:hover {
  @apply bg-gray-100 dark:bg-gray-700;
  outline: none;
  cursor: pointer;
}
.SelectItem[data-disabled] {
  color: var(--mauve8);
  pointer-events: none;
}
.selectItem[data-highlighted] {
  background-color: theme('colors.purple.500');
  color: theme('colors.white');
  outline: none;
}

.SelectLabel {
  @apply py-2 px-4 font-bold text-lg flex flex-row items-center dark:text-gray-200; 
}

.SelectSeparator {
  height: 1px;
  background-color: var(--violet6);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet11);
  cursor: default;
}

/* ! ALERT DIALOG */

.AlertDialogOverlay {
  background-color: var(--blackA9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.AlertDialogContent {
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  @apply bg-white dark:bg-gray-800 rounded-xl p-8;
}
.AlertDialogContent:focus {
  outline: none;
}

.AlertDialogTitle {
  @apply text-red-500 dark:text-white font-bold mb-4 text-xl;
}

.AlertDialogDescription {
  @apply text-gray-600 dark:text-gray-300 mb-4 font-medium
}

.AlertDialogCancel:focus {
  outline: none
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.topbar {
  display: grid;
  grid-template-columns: [logo] 250px [menubar] 1fr [darkmode] 250px;
  @apply w-full relative border-gray-200 dark:border-gray-800 py-4 text-gray-900 dark:bg-gray-900 dark:text-gray-100 mb-8 border-b-2 px-10 bg-white;
}

.logocontainer {
  grid-column: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menubarcontainer {
  grid-column: menubar;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkmodecontainer {
  grid-column: darkmode;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ! NAV Menu */
.NavigationMenuRoot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  z-index: 1;
  /* translate to offset the shift from the darkmode button */
}

/* controls the menu bar */
.NavigationMenuList {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  list-style: none;
  margin: 0;
  @apply border-2 border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 py-[4px] px-1;
}

/* controls the menu titles */
.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 6px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  @apply text-base;
}
.NavigationMenuTrigger:focus,
.NavigationMenuLink:focus {
  @apply shadow-lg;
}
.NavigationMenuTrigger:hover,
.NavigationMenuLink:hover {
  @apply bg-gray-200 dark:bg-gray-600
}

.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.NavigationMenuLink {
  display: block;
  text-decoration: none;
  line-height: 1;
  @apply text-base;
}

.NavigationMenuContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.NavigationMenuContent[data-motion='from-start'] {
  animation-name: enterFromLeft;
}
.NavigationMenuContent[data-motion='from-end'] {
  animation-name: enterFromRight;
}
.NavigationMenuContent[data-motion='to-start'] {
  animation-name: exitToLeft;
}
.NavigationMenuContent[data-motion='to-end'] {
  animation-name: exitToRight;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}
.NavigationMenuIndicator[data-state='visible'] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state='hidden'] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
  @apply: bg-white dark:bg-gray-600;
}
.NavigationMenuViewport[data-state='open'] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state='closed'] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.List {
  display: grid;
  padding: 22px;
  margin: 0;
  column-gap: 10px;
  list-style: none;
  @apply bg-white dark:bg-gray-700;
}
@media only screen and (min-width: 600px) {
  .List.one {
    width: 500px;
    grid-template-columns: 0.75fr 1fr;
  }
  .List.two {
    width: 600px;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
  }
}

.ListItemLink {
  display: block;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1;
}
.ListItemLink:focus {
  box-shadow: 0 0 0 2px theme('colors.purple.500')
}
.ListItemLink:hover {
  @apply bg-gray-100
}

.ListItemHeading {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 5px;
  color: var(--violet12);
}

.ListItemText {
  color: var(--mauve11);
  line-height: 1.4;
  font-weight: initial;
}

.Callout {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--purple9) 0%, var(--indigo9) 100%);
  border-radius: 6px;
  padding: 25px;
  text-decoration: none;
  outline: none;
  user-select: none;
}
.Callout:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}

.CalloutHeading {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 7px;
}

.CalloutText {
  color: var(--mauve4);
  font-size: 14px;
  line-height: 1.3;
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

.CaretDown {
  position: relative;
  color: var(--violet10);
  top: 1px;
  transition: transform 250ms ease;
}
[data-state='open'] > .CaretDown {
  transform: rotate(-180deg);
}

.Arrow {
  position: relative;
  top: 70%;
  background-color: white;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ! RADIO GROUP/Select Document Component */
.RadioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .RadioGroupItem {
  @apply h-4 w-4;
  border-radius: 100%;
  @apply bg-gray-300 dark:bg-gray-700 shadow-lg
}
.RadioGroupItem:hover {
  @apply bg-purple-500
}
.RadioGroupItem:focus {
  @apply shadow-lg
} */

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
/* .RadioGroupIndicator::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  @apply bg-purple-500;
} */

.Label {
  line-height: 1;
  z-index: 1;
}

button[data-state='checked'] + label {
  @apply text-purple-500 bg-white dark:bg-gray-700 dark:text-white ring-2 ring-purple-500 w-full scale-[1.01];
}