@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  font-family: 'Inter', sans-serif;
}

.serif {
  font-family: 'Merriweather', serif;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.grid {
  display: grid;
}

.col1 {
  display: grid;
}
.col2 {
  display: grid;
}

.col1 > div, .col2 > div {
  @apply bg-red-500 dark:bg-blue-300 p-4 rounded-xl;
}

.settings-container {
  position: relative;
}